@mixin comment($width) {
	background-color:$bcComment; 
	color: #8B8682;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	width: $width;
	margin-left: 5%;
	border-radius: 20px;
}

@mixin authBorder {
	background-color: #DFDFDF;
	border: $borderLine;
	padding: 10px;
	opacity:0.85;
	border-radius: 10px;
}

@mixin authLabel ($width) {
	display: block;
	float: left;
	width: $width;
}